.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background: #f7ecff;
  border-radius: 10px;
  padding: 10px;
  animation: bgcolor infinite 20s;
}
.center h2{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 500px solid silver;
}
.form {
  display:flex;
  flex-direction: column;
  margin:5px;
  bottom: 100px;
  animation: bgcolor infinite 20s;
}
@keyframes bgcolor{
  0%
  {
    background: #1abc9c;
  }
  20%
  {
    background: #34495e;
  }
  40%
  {
    background:#7f8c8d ;
  }
  80%
  {
    background: #e74c3c;
  }
  100%
  {
    background:#f1c40f;
  }
  
}